<h1>Doctors</h1>
    <%= link_to 'Add Doctor', new_doctor_path %>
<hr />
<h2><%= @doctors.length <= 0 ? 'No Doctors' : '' %></h2>
<ul>
    <% @doctors.each do |doctor| %>
        <li>
            <%= link_to doctor.name, doctor %>
        </li>
    <% end %>
</ul>